body {
    height: 100vh;
    width: 100vw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-width: 500px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
}



.to-do {
     display: grid;
     grid-template-rows: (1fr 1fr);
     justify-items: center;
}

.tasks-list {
    display: flex;
    align-items: start;
    padding: 22px;
    height: 350px;
    width: auto;
    margin-top: 14px;
    overflow-y: auto;
}
